# Archivos generados por Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Archivos de compilación de .NET
bin/
obj/

# Paquetes NuGet
*.nupkg
# Archivos de bloqueo
project.lock.json
project.fragment.lock.json

# Logs y reports
*.log
*.report

# Datos de publicación
.publish/

# Configuración local
appsettings.Development.json
.env

# Archivos de caché y configuración
*.pdb
*.mdb
*.ilk
*.idb
*.aps

# Archivos de Rider
.idea/
*.sln.iml

# Archivos de VS Code
.vscode/

